{{#ui-modal name="clause" class="clause" onApprove=(action 'approveModal') onHidden=(action 'onClose')}}
  <i class="close icon"></i>
  <div class="header">
    {{clause.name}}
  </div>
    <div class="content">
      <div class="ui grid">
        <div class="six wide column">
          {{clause-menu rebuildText=rebuildText model=clause}}
        </div>
        <div class="ten wide column">
          <p class="flash-text"><b>{{clause.title}}</b>. {{clause-text model=clause rebuildText=rebuildText}}</p>
        </div>
      </div>
    </div>
 {{/ui-modal}}
