{{#ui-modal name="clause" class="clause" onApprove=(action 'approveModal') onHidden=(action 'onClose')}}
  <i class="close icon"></i>
  <div class="header">
    {{clause.name}}
  </div>
    <div class="content">
      <div class="ui grid">
        <div class="six wide column">
          {{clause-menu rebuildText=rebuildText model=clause}}
        </div>
        <div class="ten wide column">
          <div class="ui">
            <div class="ui inverted dimmer">
              <div class="ui loader"></div>
            </div>
            <p><b>{{clause.title}}</b>. {{clause-text model=clause rebuildText=rebuildText}}</p>
          </div>
        </div>
      </div>
    </div>
 {{/ui-modal}}
