.teal-green {
  background-color: #00b599;
},

.ui.four.item.block.menu {
  margin-top: 15px;
  margin-bottom: 30px;
}


.clause-info {
  font-size: 0.75rem;
  font-weight: lighter;
  margin-bottom: 0;
}

.ui.inverted.top.menu {
  margin-top: 0;
  border-radius: 0;
}

.block-form {
  margin-top: 3em;
}

.block-form {
  .mylabel {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
  }
}

.go-right {
  text-align: right;
}

.handle {
  cursor: move;
}

.sortable-item.is-dragging {
  z-index: 999;
  .label {
    background-color: #b3b3b3;
  }
}

.sortable-item.is-dropping {
  .label {
    background-color: #bababa;
  }
}

.sortable-item{
  z-index: 9;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .125s;
}

.ui.checkbox-choice.card{
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-link:hover {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.explain-text {
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}

.ui.sub.header.spaced {
  margin-bottom: 1em;
}

.text-highlight {
  background-color: rgba(255, 255, 0, 0.26);
}

.dashboard-clause-big {
  font-size: 1.4em;
  line-height: 1.4em;
}

.dashboard-clause-small {
  font-size: 1.1em;
  line-height: 1.3em;
}

.right-aligned {
  text-align: right;
}
