.clause-info {
  font-size: 0.75rem;
  font-weight: lighter;
  margin-bottom: 0;
}

.ui.inverted.menu {
  background-color: #00B5AD;
  margin-top: 0;
}

.block-form {
  margin-top: 3em;
}

.block-form {
  .mylabel {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
  }
}

.go-right {
  text-align: right;
}
