$primary-red: #DB2828;
$primary-orange: #F2711C;
$primary-yellow: #FBBD08;
$primary-green: #21BA45;
$primary-teal: #656473;
$primary-blue: #2185D0;
$primary-violet: #6435C9;
$primary-purple: #A333C8;
$primary-pink: #E03997;
$primary-brown: #A5673F;
$primary-grey: #767676;
$primary-black: #767676;

$app-primary: #656473;
$nav-color: #00B5AD;

$green-text: #5ed657;

.app-primaryText {
  color: $app-primary !important;
}

body {
    background-color: #EBEBEB;
    overflow-y: scroll;

}

//tempalte CSS
.templateSidebar{
  height: 100%; /* 100% Full-height */
  width: 20%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #e6e5e5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.templateSidebarContent {
  padding: 15px;
}

.templateContent{
  margin-right: 24%;
  padding-right: 30px;
  margin-left: 4%;
}

.green-text {
  color: $green-text;
}

.highlight-merge {
  .focusedTerm {
    transition: 0.5s;
    font-weight: bold;
    background-color: rgba(255, 228, 26, 0.4);
  }
}

a {
  i {
    cursor: pointer !important;
  }
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

// Library CSS
#openSidebarIcon {
  position: fixed;
  padding-left: 1.5em;
  padding-top: .3em;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.8);
  transition: all .1s ease-in-out;
}

#openSidebarIcon:hover {
  color: rgba(0, 0, 0, 1);
}

#closeSidebarIcon {
  float: right;
  font-size: 1.8em;
  color: #E0E0E0;
  padding-left: .7em;
  transition: all .1s ease-in-out;
}

#closeSidebarIcon:hover {
  color: white;
}



.librarynav {
    height: 100%; /* 100% Full-height */
    width: 310px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #585858; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: #E0E0E0;
    .header {
      color: #f3f3f3;
    }
    .ui.list > a.item {
      color: #E0E0E0;
      transition: 0.2s;
    }
    .ui.list > a.item:hover {
      color: #A6A6A6;
    }
    .ui.list > a.item.active {
      padding-left: .5em;
      border-width: 0px 0px 0px 2px;
      border-style: solid;
      color: #A6A6A6;
    }

}

#library-content {
  margin-left: 300px;
  padding-left: 50px;
  padding-right: 50px;
  transition: margin-left .5s;
}

.container-library {
  padding: 2em;
}

#librarySidenavHeader {
  margin-top: -15px;
  padding: 20px;
  :hover {
    color: white;
  }
}

.blue-header {
  background-color: #2D9CDB !important;
}

.red-header {
  background-color: #EB5757 !important;
}

.orange-header {
  background-color: #F2994A !important;
}

.darkgrey-header {
  background-color: #4F4F4F !important;
}

.navyblue-header {
  background-color: #2F80ED !important;
}

.blue-header {
  background-color: #2D9CDB !important;
}

.purple-header {
  background-color: #9B51E0 !important;
}

.green-header {
  background-color: #27AE60 !important;
}

.ui.button.libcolorselect {
  transition: all .1s ease-in-out;
}

.ui.button.libcolorselect:hover {
  transform: scale(1.2);
}

#topmenu {
  border-radius: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
}

.p-teal {
  background-color: $primary-teal !important;
}

.p-black {
  background-color: $primary-black;
}

#navbarspace {
  margin-top: 65px;
}

#subnavbar {
  padding: 2px;
  padding-left: 3em;
}

.subdued {
  color: #464646 !important;
}

#submenu {
  margin-top: 0;
  margin-bottom: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 0;
  border-bottom: 1px;
  border-color: black;
}

.p-green {
  color: $primary-green;
}

.can-drag {
  cursor: move;
}

.ui.segment.big-text {
  font-size: 1.1rem;
}

.large.ui.accordion .title:not(.ui) {
  font-size: 1.3em;
  .ui.checkbox label {
    font-size: 1.3rem;
  }
}

.ui.large.checkbox {
    font-size: 1.14285714rem;
}

.ui.large-options.checkbox label {
    font-size: 1.2rem;
}

.ui.middle.aligned {
  margin-top: 60px;
}

.center-aligned {
  text-align: center;
}

.ui.paragraph.block.fluid.card {
  margin-top: 25px;
  background-color: rgb(245, 245, 245);
  .meta {
    font-size: 1em;
  }
}

.ui.cards > .card > .content .active.star.icon, .ui.card > .content .active.star.icon {
  color: #fbbd08;
}

a:hover {
  color: #009891;
}

a:active, a:hover {
    color: #009891;
}

a {
  color: #00b5ad;
}

.back-link {
  font-size: 1.2em;
}

.ui.image.label {
  margin-bottom: 0.2em;
}

.align-left {
  text-align: left;
}

.ui.raised.block.segment {
  border-radius: 0;
}

.ui.block.fluid.card {
  border-radius: 0;
  border: 0;
  &:hover {
    cursor: pointer;
  }
  .meta {
    font-size: 1.2em;
  }
  .meta:hover{
  }
  .description {
  }
  .description:hover {
  }
}

.ui.vertical.menu.search-results {
  box-shadow: 0px 5px 8px 0 rgba(34, 36, 38, 0.35);
  position: absolute;
  z-index: 1000;
}

.ui.menu.clause-menu {
  margin-bottom: 2.5em;
  margin-top: 1.5em;
}

.teal-green {
  background-color: #00b599;
},

.ui.four.item.block.menu {
  margin-top: 15px;
  margin-bottom: 30px;
}


.clause-info {
  font-size: 0.75rem;
  font-weight: lighter;
  margin-bottom: 0;
}



#library-tabs {
  margin-top: 10px;
  margin-bottom: 0px;
}

#library-options {
  margin-top: 0px;
  margin-bottom: 0px;
}

#library-items {
  margin-top: 15px;
}

.ui.card.block {
  border-radius: 0;
}

.block-form {
  margin-top: 1em;
}

.block-form {
  .mylabel {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
  }
}

.go-right {
  text-align: right;
}

.handle {
  cursor: move;
}

.sortable-item.is-dragging {
  z-index: 999;
  .label {
    background-color: #b3b3b3;
  }
}

.sortable-item.is-dropping {
  .label {
    background-color: #bababa;
  }
}

.sortable-item{
  z-index: 9;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .125s;
}

.ui.checkbox-choice.card{
  margin-top: 10px;
  margin-bottom: 10px;
}

.explain-text {
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}

.ui.sub.header.spaced {
  margin-bottom: 1em;
}

.text-highlight {
  background-color: rgba(255, 255, 0, 0.26);
}

.dashboard-clause-big {
  font-size: 1.4em;
  line-height: 1.4em;
}

.dashboard-clause-small {
  font-size: 1.1em;
  line-height: 1.3em;
}

.right-aligned {
  text-align: right;
}
