<div class="templateContent">
  <div class="ui raised block segment">
  </div>
</div>

<div class="templateSidebar">
<div class="templateSidebarContent">
  <h4 class="ui dividing header">Sections</h4>
  <div class="ui list">
    <div class="item"><a class="ui grey label">Header</a></div>
    <div class="item"><a class="ui grey label">Recitals</a></div>
    <div class="item">
      <div class="ui ordered list">
        <div class="item"><a class="ui grey label">Something</a></div>
        <div class="item"><a class="ui grey label">Something</a></div>
        <div class="item">
          <div class="list">
            <div class="item"><a class="ui grey label">Something</a></div>
            <div class="item"><a class="ui grey label">Something</a></div>
            <div class="item"><a class="ui grey label">Something</a></div>
          </div>
        </div>
        <div class="item"><a class="ui grey label">Something</a></div>
      </div>
    </div>
    <div class="item"><a class="ui basic grey label">Something</a></div>

  </div>
</div>

</div>
