<div class="templateContent">
  <div class="ui grid">
    <div class="ten wide column">
      <h3 class="ui header">Lightweight Membership Waiver<div class="ui sub header">Status: <span class="green-text">Approved</span></div></h3>
    </div>
    <div class="six wide column">
      <div class="ui secondary  menu">
        <div class="right menu">
          {{link-to "Template" 'library.apptemplate.text' model  class="item"}}
          {{link-to "Notepad" 'library.apptemplate.notepad' model  class="item"}}
          {{link-to "Editor" 'library.apptemplate.editor' model  class="item"}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>

</div>


{{outlet}}
