
<h2>{{model.name}}</h2>

<div class="ui four item block menu">
  {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
  {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
  {{#link-to 'library.fullClause.builder' class="item"}}Builder{{/link-to}}
  <a class="item">Sharing</a>
</div>
{{outlet}}
