
<h2>{{model.name}}</h2>

<div class={{if userCanWrite "ui four item block menu" "ui two item block menu"}}>
  {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
  {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
  {{#if userCanWrite}}
    {{#link-to 'library.fullClause.builder' class="item"}}Builder{{/link-to}}
    {{#link-to 'library.fullClause.sharing' class="item"}}Sharing{{/link-to}}
  {{/if}}

</div>
{{outlet}}
