
<div id="destination"></div>

  <div class="ui teal inverted top menu">
    <div class="ui container">
    <div class="header item">
      ClauseHub
    </div>
    {{#link-to 'library' class='item'}}Library{{/link-to}}
    <div class="ui right dropdown item">
      Menu
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Applications</div>
        <div class="item">International Students</div>
        <div class="item">Scholarships</div>
      </div>
    </div>
  </div>
  <div class="ui flowing basic admission popup">
    <div class="ui three column relaxed divided grid">
      <div class="column">
        <h4 class="ui header">Business</h4>
        <div class="ui link list">
          <a class="item">Design &amp; Urban Ecologies</a>
          <a class="item">Fashion Design</a>
          <a class="item">Fine Art</a>
          <a class="item">Strategic Design</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Liberal Arts</h4>
        <div class="ui link list">
          <a class="item">Anthropology</a>
          <a class="item">Economics</a>
          <a class="item">Media Studies</a>
          <a class="item">Philosophy</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Social Sciences</h4>
        <div class="ui link list">
          <a class="item">Food Studies</a>
          <a class="item">Journalism</a>
          <a class="item">Non Profit Management</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="ui container">
  {{outlet}}
</div>
